[submodule "Cobalt"]
	path = Cobalt
	url = https://github.com/cobaltians/Cobalt-iOS.git
[submodule "www/platform"]
	path = www/platform
	url = https://github.com/cobaltians/Cobalt-Web-iOS.git
[submodule "Plugins-AppInfos-iOS"]
	path = Plugins-AppInfos-iOS
	url = https://github.com/Cobaltians-Plugins/Plugins-AppInfos-iOS.git
	branch = develop
[submodule "www/Plugins-AppInfos-Web"]
	path = www/Plugins-AppInfos-Web
	url = https://github.com/Cobaltians-Plugins/Plugins-AppInfos-Web.git
	branch = develop
[submodule "cobalt-plugin-fcm-ios"]
	path = cobalt-plugin-fcm-ios
	url = http://sd-66128.dedibox.fr/kristal/cobalt-plugin-fcm-ios.git
