<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>540320414670-4cu2qtnj9mprphace9vuj4k5k3cp2ogu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540320414670-4cu2qtnj9mprphace9vuj4k5k3cp2ogu</string>
	<key>API_KEY</key>
	<string>AIzaSyB8KAyqNqi7iOfqUDKXxhTDOnAxeTv7RZY</string>
	<key>GCM_SENDER_ID</key>
	<string>540320414670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.kristal.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>remote-push-demo-75220</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-push-demo-75220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:540320414670:ios:efcc2b7cc1eeec46</string>
	<key>DATABASE_URL</key>
	<string>https://remote-push-demo-75220.firebaseio.com</string>
</dict>
</plist>